$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px, 30px);
    background: $background-light;
    color: floralwhite;
    min-height: 150px;
}

.jumbotron h1 {
    font-size: 250%;
    font-weight: 550;
    text-transform: uppercase;
    color: black;
}

.jumbotron p {
    font-size: 130%;
    line-height: 130%;
    color: rgb(233, 233, 233);
}

.itemActive {
    background: rgb(95, 10, 173);
}