$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light:#212221;
$background-pale:#212221;
;
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.itemActive {
    background: rgb(114, 114, 114);
}

address {
    font-style: normal;
}

.list {
    color: white;
}

.footer {
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: white;
}

.btn-github {
    color: #fff!important;
    background-color: #3b5998!important;
}

.btn-github:hover {
    color: #000000!important;
    background-color: #fff!important;
}

.btn-youtube {
    color: #fff!important;
    background-color: #ff4b39!important;
}

.btn-youtube:hover {
    color: #000000!important;
    background-color: #fff!important;
}

.btn-linkedin {
    color: #fff!important;
    background-color: #007bb6!important;
}

.btn-linkedin:hover {
    color: #000000!important;
    background-color: #fff!important;
}

.btn-twitter {
    color: #fff!important;
    background-color: #55acee!important;
}

.btn-twitter:hover {
    color: #000000!important;
    background-color: #fff!important;
}

.btn-mail {
    color: #fff!important;
    background-color: #512DA8!important;
}

.btn-mail:hover {
    color: #000000!important;
    background-color: #fff!important;
}