    address {
        font-style: normal;
    }
    
    .full-width {
        width: 100%;
    }
    
    .half-width {
        width: 50%;
    }
    
    .form-size {
        width: 80%;
        margin-left: 10%;
    }
    
    form {
        background: #5a5a5a;
        border-radius: 5px;
        padding: 5%;
    }
    
    .button {
        margin-left: 45%;
    }
    
    mat-spinner {
        margin: 0 auto;
    }
    
    @media(max-width: 550px) {
        .button {
            margin-left: 38%;
        }
    }