.mat-list-base .mat-list-item {
    color: black;
}

p .para {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
}

mat-spinner {
    margin: 0 auto;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: -8px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

h4 {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 95%;
}

form {
    background: #5a5a5a;
    border-radius: 5px;
    padding: 5%;
    width: 80%;
}

.button {
    margin-left: 40%;
}

@media(max-width:550px) {
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button {
        min-width: 30px;
        line-height: 30px;
        padding: 0 5px;
    }
}