<br>
<div *ngIf="dish" class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40">

        <mat-card>
            <mat-card-header>
                <mat-card-title *ngIf="dish">
                    <h2 style="font-weight: bold;">{{ dish.name | uppercase }}</h2>
                </mat-card-title>
            </mat-card-header>
            <img height="300px" mat-card-image src={{dish.image}} alt={{dish.name}}>
            <mat-card-content>
                <p>{{ dish.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="40">
        <div class="container" *ngIf="dish" fxLayout="column" fxLayoutGap="10px">
            <h2 style="font-weight: bold;">COMMENTS</h2>
            <div fxFlex *ngIf="dish">
                <div *ngFor="let comment of dish.comments">
                    <span>{{comment.comment}}</span><br>
                    <span>{{comment.rating}} Stars</span><br>
                    <span> -- {{comment.author}} {{comment.date | date}}</span><br>
                    <br><br>

                </div>
            </div>
        </div>
    </div>
</div>
<br>