.mat-list-base .mat-list-item {
    color: black;
}

p .para {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
}

mat-spinner {
    margin: 0 auto;
}

h4 {
    text-align: center;
}